<h1 class="display-5 fw-bold"><%= t('title.index')%></h1>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
            <th scope="col"><%= link_to Client.human_attribute_name(:id), "#" ,onclick:"selectedField('id')" %></th>
            <th><%= link_to Client.human_attribute_name(:first_name), "#",onclick:"selectedField('first_name')"  %></th>
            <th><%= link_to Client.human_attribute_name(:last_name), "#", onclick:"selectedField('last_name')"   %></th>
            <th><%= link_to Client.human_attribute_name(:email), "#", onclick:"selectedField('email')"   %></th>
            <th><%= link_to Client.human_attribute_name(:telephone), "#",onclick:"selectedField('telephone')"   %></th>
            <th><%= link_to Client.human_attribute_name(:address), "#" ,onclick:"selectedField('address')"  %></th>
            <th><%= link_to Client.human_attribute_name(:zip_code), "#" %></th>
            <th>
                <%= link_to new_client_path, class: "btn btn-success btn-circle" do %>
                        <i class="fas fa-plus"></i>
                <% end %>
            </th>
      </tr>
    </thead>

    <tbody>
        <% @clients.each do |client| %>
        <tr>
            <td scope="row"> <%=client.id%> </td>
            <td> <%=client.first_name%> </td>
            <td> <%=client.last_name%> </td>
            <td> <%=client.email%> </td>
            <td> <%=client.telephone%> </td>
            <td> <%=client.address%> </td>
            <td> <%=client.zip_code%> </td>
            <td class="btn-group">
                <%= button_to edit_client_path(client.id),method: :get,  class: "btn btn-success btn-circle" do %>
                    <i class="fas fa-edit"></i>
                <% end %>

                <%= button_to client_path(client.id),method: :get, class: "btn btn-success btn-warning" do %>
                    <i class="fas fa-edit"></i>
                <% end %>

                <%= button_to client_path(client.id), method: :delete, class: "btn btn-danger btn-circle",form: {style:"display:inline-block"}, data: {turbo_confirm: t('messages.confirm_with', item: "#{client.first_name} #{client.last_name}")} do %>
                    <i class="fas fa-trash"></i>
                <% end %>
             </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= paginate @clients %>

