<!DOCTYPE html>
<html class="w-100 d-block bg-secondary">
  <head>
    <title>CustomerManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "esbuild_application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="w-100 d-block">
    <div class="p-5 mb-4 bg-dark rounded-3 w-75 position-absolute top-50 start-50 translate-middle">
      <p class="alert"><%= notice %></p>
      <div class="container-fluid py-5 border rounded-3 shadow-lg bg-light">
        <%= yield %>
      </div>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
