<!DOCTYPE html>
<html class="w-100 d-block">
  <head>
    <title>CustomerManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "esbuild_application","data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/a696aaae47.js" crossorigin="anonymous"></script>
  </head>
  <body class="w-100 d-block bg-secondary">
    <div class="p-5 mb-4 bg-dark rounded-3 w-75 mx-auto">
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
        <svg class="mx-auto d-flex" width="320" height="106.87776384803985" viewBox="0 0 320 106.87776384803985" class="css-1j8o68f"><defs id="SvgjsDefs1196"></defs><g id="SvgjsG1197" featurekey="symbolFeature-0" transform="matrix(0.11349449866174303,0,0,0.11349449866174303,-6.75292267037371,-3.302692335560783)" fill="#ffffff"><g xmlns="http://www.w3.org/2000/svg"><path d="M146.6,312.2l273.4-157.9h0c7.6,3.1,15.8,4.8,24.4,4.8c35.8,0,65-29.2,65-65c0-35.8-29.2-65-65-65   c-35.8,0-64.8,29-65,64.7v0L97,256.9c-23.1,13.4-37.5,38.3-37.5,65.1v347.2c0,26.7,14.4,51.7,37.6,65.1l318,183.6   c4.4,2.5,9.4,3.9,14.4,3.9c5,0,10-1.3,14.4-3.9c9-5.2,14.4-14.6,14.4-25v-9.3c0-15.2-8.2-29.3-21.3-36.9L146.6,679   c-8.9-5.2-14.5-14.8-14.5-25.1V337.3C132.1,327,137.7,317.3,146.6,312.2z M405.4,78.9L405.4,78.9c6.1-15.7,21.3-26.7,39.1-26.7   c2.2,0,4.3,0.2,6.4,0.5h0c2.6,0.4,5.1,1,7.4,1.9c16.4,5.7,28.1,21.3,28.1,39.6c0,20.1-14.2,37-33.1,41c-2.8,0.6-5.8,0.9-8.8,0.9   c-23.2,0-42-18.8-42-42C402.5,88.7,403.6,83.6,405.4,78.9z"></path><path d="M903.6,276.8L585.4,93.1c-4.5-2.6-9.5-3.9-14.6-3.9c-5.1,0-10.1,1.4-14.6,3.9c-9.1,5.3-14.6,14.7-14.6,25.3   v12.9c0,12.6,6.8,24.3,17.7,30.6L854,332c8.6,4.9,13.9,14.1,13.9,24v318c0,9.9-5.3,19.1-13.9,24l-266.4,150   c-8.9-4.6-19-7.2-29.6-7.2c-35.8,0-65,29.2-65,65c0,35.8,29.2,65,65,65c32.5,0,59.5-23.9,64.3-55.1l281.4-162.5   c22.8-13.2,36.9-37.6,36.9-63.9V340.7C940.5,314.4,926.4,289.9,903.6,276.8z M587,936.1c-4.9,4.7-10.8,8.2-17.5,10.1   c-3.7,1.1-7.6,1.6-11.6,1.6c-0.4,0-0.9,0-1.3,0c-22.6-0.7-40.7-19.2-40.7-41.9c0-23.2,18.8-42,42-42c2.2,0,4.4,0.2,6.5,0.5   c20.1,3.1,35.5,20.5,35.5,41.5C599.9,917.8,595,928.5,587,936.1z"></path><path d="M689.4,551L196.9,681.6c-8.6,2.3-16.8-13.8-12-23.6l11.3-23.3c9-18.6,22.7-31,38.9-35.3l488.9-129.6   c8.6-2.3,16.8,13.8,12,23.6l-13.2,27.4C715,536.7,703.3,547.4,689.4,551z"></path><path d="M693,669.3l-304.9,80.8c-5.3,1.4-12.1-15-10-24.2l5.1-21.6c4-17.3,11.7-28.1,21.8-30.7l302.7-80.2   c5.3-1.4,12.1,15,10,24.2l-5.9,25.4C708.2,657.8,701.6,667,693,669.3z"></path><path d="M614.1,358.5l-304.9,80.8c-5.3,1.4-12.1-15-10-24.2l5.1-21.6c4-17.3,11.7-28.1,21.8-30.7l302.7-80.2   c5.3-1.4,12.1,15,10,24.2l-5.9,25.4C629.2,347,622.7,356.2,614.1,358.5z"></path><path d="M778,418.1L285.6,548.6c-8.6,2.3-16.8-13.8-12-23.6l11.3-23.3c9-18.6,22.7-31,38.9-35.3l488.9-129.6   c8.6-2.3,16.8,13.8,12,23.6l-13.2,27.4C803.7,403.8,792,414.4,778,418.1z"></path></g></g><g id="SvgjsG1198" featurekey="nameFeature-0" transform="matrix(1.323801943182726,0,0,1.323801943182726,116.82287521011386,13.81493890778058)" fill="#ffffff"><path d="M2.4 33.64 l0 -23.24 c0 -0.24 0.2 -0.44 0.44 -0.44 l1.64 0 l0 24.04 c0 2.36 1.92 4.28 4.24 4.28 l12.44 0 c0.24 0 0.44 0.2 0.44 0.44 l0 1.28 l-12.88 0 c-3.48 0 -6.32 -2.84 -6.32 -6.36 z M24.840000000000003 35 l0 -15.04 l1.36 0 c0.24 0 0.44 0.2 0.44 0.44 l0 14.76 c0 1.76 1.4 3.16 3.16 3.16 l6.04 0 c1.72 0 3.12 -1.4 3.12 -3.16 l0 -14.76 c0 -0.24 0.2 -0.44 0.44 -0.44 l1.36 0 l0 15.04 c0 2.76 -2.2 5 -4.92 5 l-6.04 0 c-2.76 0 -4.96 -2.24 -4.96 -5 z M45.28 35 l0 -9.96 c0 -2.76 2.2 -5 4.96 -5 l8.2 0 l0 1.2 c0 0.24 -0.16 0.44 -0.4 0.44 l-7.8 0 c-1.76 0 -3.16 1.44 -3.16 3.2 l0 10.28 c0 1.76 1.4 3.16 3.16 3.16 l7.8 0 c0.24 0 0.4 0.2 0.4 0.44 l0 1.24 l-8.2 0 c-2.76 0 -4.96 -2.24 -4.96 -5 z M84.4 16.24 l0 3.24 c0 1.68 -1.44 4.76 -3.72 5.36 c2.12 0.32 3.72 3.48 3.72 5.12 l0 3.76 c0 3.48 -2.8 6.28 -6.28 6.28 l-13.8 0 c-0.68 0 -1.24 -0.56 -1.24 -1.24 l0 -27.56 c0 -0.68 0.56 -1.24 1.24 -1.24 l13.8 0 c3.48 0 6.28 2.84 6.28 6.28 z M82.32000000000001 29.8 c0 -2.32 -1.88 -4.2 -4.2 -4.2 l-12.96 0 l0 12.2 c0 0.24 0.2 0.44 0.48 0.44 l12.48 0 c2.32 0 4.2 -1.88 4.2 -4.2 l0 -4.24 z M82.32000000000001 19.64 l0 -3.72 c0 -2.32 -1.88 -4.2 -4.2 -4.2 l-12.48 0 c-0.28 0 -0.48 0.2 -0.48 0.44 l0 11.68 l12.96 0 c2.32 0 4.2 -1.88 4.2 -4.2 z M88.84 39.56 l0 -19.56 l1.36 0 c0.24 0 0.44 0.16 0.44 0.4 l0 19.6 l-1.36 0 c-0.24 0 -0.44 -0.2 -0.44 -0.44 z M88.84 13 l0 -1.88 l1.4 0 c0.24 0 0.4 0.2 0.4 0.4 l0 1.88 l-1.4 0 c-0.24 0 -0.4 -0.16 -0.4 -0.4 z M110.44000000000001 33.04 c0 -0.24 -0.2 -0.52 -0.4 -0.56 l-12.48 -4.48 c-0.6 -0.2 -1.08 -0.88 -1.08 -1.52 l0 -2 c0 -2.76 2.2 -4.48 4.96 -4.48 l9.2 0 l0 1.2 c0 0.24 -0.2 0.44 -0.44 0.44 l-8.76 0 c-1.76 0 -3.16 1.12 -3.16 2.88 l0 1.48 c0 0.24 0.2 0.48 0.4 0.56 l12.4 4.48 c0.6 0.2 1.08 0.88 1.08 1.52 l0 3.04 c0 2.8 -2.24 4.4 -4.96 4.4 l-10.76 0 l0 -1.24 c0 -0.24 0.2 -0.44 0.44 -0.44 l10.32 0 c1.72 0 3.24 -0.96 3.24 -2.68 l0 -2.6 z M127.88000000000001 20 c2.76 0 4.96 2.04 4.96 4.92 l0 10.2 c0 2.8 -2.2 4.88 -4.96 4.88 l-7.8 0 c-0.56 0 -1.04 -0.32 -1.12 -0.76 l0 10.08 c0 0.24 -0.2 0.44 -0.44 0.44 l-1.36 0 l0 -29.32 c0 -0.24 0.2 -0.44 0.44 -0.44 l10.28 0 z M131.04000000000002 35.12 l0 -10.28 c0 -1.76 -1.4 -3.2 -3.16 -3.2 l-8.92 0 l0 12.24 l0 3.76 c0.04 0.36 0.32 0.64 0.68 0.68 l8.24 0 c1.76 0 3.16 -1.44 3.16 -3.2 z M148.56 40.28 l-6.04 0 c-2.76 0 -4.96 -2.24 -4.96 -5 l0 -10.52 c0 -2.76 2.2 -5.04 4.96 -5.04 l6.04 0 c2.72 0 4.92 2.28 4.92 5.04 l0 10.52 c0 2.76 -2.2 5 -4.92 5 z M148.56 21.4 l-6.04 0 c-1.76 0 -3.16 1.44 -3.16 3.2 l0 10.84 c0 1.76 1.4 3.16 3.16 3.16 l6.04 0 c1.72 0 3.12 -1.4 3.12 -3.16 l0 -10.84 c0 -1.76 -1.4 -3.2 -3.12 -3.2 z"></path></g></svg>
      </a>

      <% if current_admin %>
      <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><%= link_to "Consultar Clientes", clients_path, class:"nav-link px-2 link-secondary",id:"link-consultar"%></li>
        <li class="nav-item"><%= link_to "Cadastrar Clientes", new_client_path, class:"nav-link px-2 link-secondary",id:"link-cadastrar" %></li>
        <li class="nav-item"><%= link_to "Consultar Administradores", admin_backoffice_admins_path, class:"nav-link px-2 link-secondary",id:"link-admins" %></li>
      </ul>
      <%end%>

      <div class="col-md-3 text-end">
      <% unless current_admin %>
      <div class="btn-group">
        <%= button_to t('messages.login'),new_admin_session_path,method: :get, class:"btn btn-primary me-2"%>
        <%= button_to t('messages.sign_up'),new_admin_registration_path,method: :get, class:"btn btn-primary me-2"%>
      </div>
      <%else%>
        <%= button_to t('messages.log_out'),destroy_admin_session_path,method: :delete, class:"btn btn-primary me-2"%>
      <%end%>
      </div>
    </header>
  </div>
      <div class="container-fluid py-5 border rounded-3 shadow-lg bg-light">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<% if notice %>
    <script>
window.addEventListener('load', function() {
  // Code to be executed after the page has loaded goes here
  console.log("growl")
    $.notify('<%= notice %>','success');
    });
    </script>
<%end%>

<% if alert %>
    <script>
window.addEventListener('load', function() {
  // Code to be executed after the page has loaded goes here
  console.log("growl")
  <% alert.each do |alert|%>
    $.notify('<%= alert.to_s %>','error');
    <%end%>
    });
    </script>
<%end%>
